/* Estilos CSS */
.custom-bg-color {
    background-color: #010f1a;
}

.custom-input {
    border-radius: 8px !important;
    background-color: transparent !important;
    border: 1px solid #74c87a !important;
    color: #495057 !important;
}

.custom-input::placeholder {
    color: #a5a5a5 !important;
}

.custom-input:focus,
.custom-input:focus-within {
    border-color: #74c87a !important;
    box-shadow: 0 0 0 0.2rem rgba(116, 200, 122, 0.5) !important;
}

.border-custom-registerLogin {
    border-left: 2px solid #74c87a !important;
}

.color-button-registerLogin {
    background-color: #74c87a !important;
    color: #010f1a !important;
}

.color-button-registerLogin:hover {
    background-color: #57955b !important;
    color: #010f1a !important;
}