/* Estilos CSS */
.custom-bg-color {
    background-color: #010f1a;
}

.custom-input {
    border-radius: 8px !important;
    background-color: transparent !important;
    border: 1px solid #74c87a !important;
    color: #495057 !important;
}

.custom-input::placeholder {
    color: #a5a5a5 !important;
}

.custom-input:focus,
.custom-input:focus-within {
    border-color: #74c87a !important;
    box-shadow: 0 0 0 0.2rem rgba(116, 200, 122, 0.5) !important;
}

.text-register {
    font-size: 13px;
}

.border-custom-registerLogin {
    border-left: 2px solid #74c87a !important;
}

.border-color {
    border-color: #74c87a !important;
}

.color-button-general {
    background-color: #74c87a !important;
    color: #010f1a !important;
}

.color-button-general:hover {
    background-color: #57955b !important;
    color: #010f1a !important;
}

/* ESTILOS SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
    /* Altura del scrollbar horizontal */
}

/* Estilo del "track" del scrollbar (el fondo del scrollbar) */
::-webkit-scrollbar-track {
    background-color: #010f1a;
    /* Cambia el color de fondo del "track" */
}

/* Estilo del "thumb" del scrollbar (la parte móvil del scrollbar) */
::-webkit-scrollbar-thumb {
    background-color: #74c87a;
    /* Cambia el color del "thumb" */
    border-radius: 8px;
    /* Añade bordes redondeados al "thumb" */
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white !important;
    width: 100%;
    height: 100%;
    margin: 8px;
    padding-left: 15px;
    border: none;
    background: transparent;
}

.search-bar:focus,
.search-bar-within {
    border: none;
}

.btn-search {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    width: 40px;
    height: 40px;
}

.btn-filter {
    background: transparent;
    color: white;
    border: 2px solid #74c87a;
    border-radius: 20px;
    padding: 8px;
    transition: all 0.3s;
}

.btn-filter:hover {
    color: #010f1a;
    background-color: #74c87a;
}

.btn-profession {
    background-color: #999999;
    transition: all 0.2s;
}

.btn-profession:hover {
    background-color: white;
}